{{ CodeSectionFileHeader | ToGoComment }}

package app

import (
	"flag"
)

type Config struct {
// region CODE_REGION(COMMON_CONFIG)
	LogLevel         string
// endregion
}

//RegisterConfig registgers a config with a flagset
func RegisterConfig(flagset *flag.FlagSet) *Config {
// region CODE_REGION(COMMON_REGISTER)
	conf := Config{}
	flagset.StringVar(&conf.LogLevel, "app.loglevel", "info", "Loglevel error, warn,info, debug1..10")
// endregion
	return &conf
}
